:root {
  --light-red: 0, 100%, 67%;
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;
  --light-slate-blue: 252, 100%, 67%;
  --light-royal-blue: 241, 81%, 54%;
  --violet-blue: 256, 72%, 46%, 1;
  --persian-blue: 241, 72%, 46%, 0;
  --white: 0, 0%, 100%;
  --pale-blue: 221, 100%, 96%;
  --light-lavender: 241, 100%, 89%;
  --dark-gray-blue: 224, 30%, 27%;
}

body {
  max-width: 375px;
  margin-inline: auto;
  font-size: 1.125rem;
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
