.container {
  width: 100%;
  max-width: 700px;

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem hsl(var(--pale-blue));
  }
}
