.top {
  --border-radius-bottom: 1.5rem;
  --border-radius-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2.75rem;
  background-image: linear-gradient(
    to bottom,
    hsl(var(--light-slate-blue)),
    hsl(var(--light-royal-blue))
  );

  border-radius: var(--border-radius-top) var(--border-radius-top)
    var(--border-radius-bottom) var(--border-radius-bottom);

  color: hsl(var(--white));
  text-align: center;

  & > .heading {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(var(--light-lavender));

    @media (min-width: 1440px) {
      font-size: 1.7rem;
    }
  }

  & > .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;

    @media (min-width: 1440px) {
      font-size: 2rem;
    }
  }

  & > .subtitle {
    font-size: 1rem;
    color: hsl(var(--light-lavender));

    @media (min-width: 1440px) {
      font-size: 1.125rem;
    }
  }

  @media (min-width: 1440px) {
    --border-radius-top: 1.5rem;
  }
}
