.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;

  background-color: hsla(var(--summary-color), 0.075);

  font-size: 1rem;

  @media (min-width: 1440px) {
    padding: 1rem;
  }
}

.icon {
  color: hsl(var(--summary-color));
}

.category {
  flex: 1;
  margin-left: 0.5rem;

  color: hsl(var(--summary-color));
  font-weight: 500;
}

.score {
  & > .current {
    font-weight: 800;
    color: hsl(var(--dark-gray-blue));
  }
  & > .total {
    font-weight: 700;
    color: hsla(var(--dark-gray-blue), 0.6);
  }
}
